<h1>Acerca de</h1>

<h3>Bienvenidos a PortalProgramadores.com</h3>
<p>
  PortalProgramadores.com es un sitio web de preguntas y respuestas enfocado al mundo de la programación.
</p>

<h3>Historia</h3>
<p>
  La idea de realizar el portal surge por la carencia que existe de sitios en los que programadores de habla hispana 
  puedan resolver sus dudas técnicas sin tener que sufrir aprendiendo otro idioma. No es que estemos en desacuerdo de aprender 
  más idiomas, al contrario, siempre es útil, pero por la naturaleza de esta profesión de que las cosas siempre urgen, 
  es más cómodo encontrar información en nuestro propio idioma para poder resolver de manera más rápida las cosas.
</p>